<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <mat-card>

        <form>
            <mat-card-content>
                <div class="container" style="width: 60%; margin-left:250px" class="mb-1">
                    <table class="table table-striped table-bordered">
                        <thead style="width: 60%; margin-left:250px">
                            <tr>
                                <th>test no</th>
                                <th>test category</th>
                                <th>Question</th>
                                <th style=" margin-left:290px">Add</th>
                                <th style=" margin-left:200px">Edit</th>
                                <th style=" margin-left:200px">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users" style="width: 60%; margin-left:250px">
                                <td>{{user.no}} </td>
                                <td>{{user.category}}</td>
                                <td>{{user.question}}</td>
                                <td> <button style="margin-left:35px" mat-raised-button color="primary" type="submit"
                                        [routerLink]="['/tests/addtests']"><i class="fa fa-plus"
                                            style="width: 30px;"></i>Add</button></td>
                                <td> <button style="margin-left:40px" mat-raised-button color="primary" type="submit"
                                        [routerLink]="['/tests/edittests']"><i class="fa fa-edit"
                                            style="width: 30px;"></i>Edit</button></td>
                                <td> <button style="margin-left:40px" mat-raised-button color="primary" type="submit"
                                        [routerLink]="['/tests/alltests']"><i class="fa fa-trash"
                                            style="width: 30px;"></i>delete</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card-content>
        </form>
    </mat-card>

</body>

</html>