<mat-card>
    <mat-card-title>Add Tests</mat-card-title>
    <br>
    <form>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div class="mb-1">
            
      <mat-form-field  style="width: 100%">
        <input matInput placeholder="Category">
        <mat-select #mode value="Category">
          <mat-option value="side">angular</mat-option>
          <mat-option value="over">python</mat-option>
          <mat-option value="push">java</mat-option>
          <mat-option value="push">php</mat-option>
        </mat-select>
      </mat-form-field>
 
            
              
          </div>
        </div>
  
        <div class="mb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Question"  type="email">
          </mat-form-field>
        
        </div>
  
        <div class="mb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Option A"  type="option">
          </mat-form-field>
         
        </div>
  
        <div class="mb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Option B"  type="option">
          </mat-form-field>
         
        </div>
        
        <div class="mb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Option C"  type="option">
          </mat-form-field>
         
        </div>
        
        <div class="mb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Option D"  type="option">
          </mat-form-field>
         
        </div>
        
      </mat-card-content>
      <hr>
      <mat-card-actions class="px-1">
        <div class="wrap">
          <button mat-raised-button type="submit" class="btn1" [routerLink]="['/tests/alltests']"><mat-icon style="margin-right:3px;">done</mat-icon>Save</button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
  