.details {
    transition-duration: 0.4s;
  }
  
  .details:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  .btn1{
    background-color: limegreen;
    margin-left: 950px;
    color: white;
    
  }